.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.byke-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}
.Project-title{
    text-align: center;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 50px;
}
.cart-container{
    position: fixed;
    right: 0px;
    background-color: #CAD5E2;
    margin-top: 25px;
    border-radius: 15px;
    padding: 5px;
    margin-right: 15px;
    font-family: 'Lato';
    font-style: normal;
    margin-right: 10px;
}


@media screen and (max-width:1200px){
    .byke-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
