.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.byke-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}
.Project-title{
    text-align: center;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 50px;
}
.cart-container{
    position: fixed;
    right: 0px;
    background-color: #CAD5E2;
    margin-top: 25px;
    border-radius: 15px;
    padding: 5px;
    margin-right: 15px;
    font-family: 'Lato';
    font-style: normal;
    margin-right: 10px;
}
.ask-Qustion{
    text-align: center;
   margin: 100px;
}
/*-------------------------------------------
               Media Queries 
------------------------------------------*/
/* Mobile Devices */
@media (min-width: 1025px) and (max-width: 1280px) {
    .byke-container{
        grid-template-columns: repeat(3, 1fr);
    }
    
  }
@media (min-width: 481px) and (max-width: 767px) {
  
    .byke-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .byke-container{
        grid-template-columns: repeat(1, 1fr);
    }
  }

